.sponsorshipCardList {
  display: flex;
  margin-top: 52px;
  justify-content: space-between;

  .sponsorshipCard {
    width: 24.4%;
    padding: 34px 38px;

    .cardTitle {
      text-align: center;
      font-size: 2rem;
    }

    .tierPricing {
      text-align: center;

      .pricingMain {
        font-weight: 700;
        font-size: 2.5rem;
      }
    }

    .tierBenefits {
      display: inline-flex;
      flex-direction: column;
      margin-top: 16px;

      .benefit {
        display: inline-flex;
        width: 100%;
        column-gap: 12px;
        margin-bottom: 8px;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .cardFooter {
      display: flex;
      align-items: center;
      margin-top: 32px;
      flex-direction: column;

      .cardFooterBtn {
        text-align: center;
        min-width: 220px;
        width: 100%;
        height: 46px;
        margin-bottom: 16px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
    .sponsorshipCardList {
        flex-wrap: wrap;
        row-gap: 24px;

        .sponsorshipCard {
            width: 48%;
        }
    }
}

@media only screen and (max-width: 680px) {
    .sponsorshipCardList {
        .sponsorshipCard {
            width: 100%;
        }
    }
}