@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');

.App {
  position: relative;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", sans-serif;
}

p, a {
  font-family: "Exo", serif;
  text-decoration: none;
}